/* Navigation style  */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6dfdf;
  overflow: hidden;
}
.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 200px;
}

/* main screen styles */
.description {
  font-size: 18px;
  color: var(--text);
  text-decoration: underline;
  margin: 0 auto;
}

/* app style realted to boxes*/
.App{
  display: flex;
  flex-direction: column; 
  aling-itemsd: center;
  justify-content: center;
  height:100vh;
  background-color: white;
}


#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}


